<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yueqin.admin.mapper.SysUserMapper">
 
 <select id="selectByPrimaryKey" resultType="SysUser">
    select * from sys_user where id = #{id}
 
 </select>
 
 <select id="selectByName" resultType="SysUser">
    select * from sys_user where name = #{name}
 
 </select>
 
 <select id="findPage" resultMap="userListMap">
    select * from sys_user 
 
 </select>
 
 <resultMap type="SysUser" id="userListMap">
   <id column="id" property="id" />
   <result column="name" property="name"/>
   <result column="nick_name" property="nickName"/>
   <result column="avatar" property="avatar"/>
   <result column="password" property="password"/>
   <result column="salt" property="salt"/>
   <result column="eamil" property="eamil"/>
   <result column="mobile" property="mobile"/>
   <result column="status" property="status"/>
   <result column="dept_id" property="deptId"/>
   <result column="role_id" property="roleId"/>
   <result column="create_by" property="createBy"/>
   <result column="create_time" property="createTime"/>
   <result column="last_update_by" property="lastUpdateBy"/>
   <result column="last_update_time" property="lastUpdateTime"/>
   <result column="del_flag" property="delFlag"/>
 </resultMap>
 
</mapper>
